@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size: 30px;
    font-weight: 500;
}

h2 {
    font-size: 22px;
    font-weight: 500;
}

h3 {
    font-size: 20px;
    font-weight: 700;
}

button {
    background: black;
    color: white;
    padding: 1em 2em;
    outline: none;
    border-radius: 0.25rem;
}

.button-tertiary {
    color: black;
    padding: .5em 1em;
    margin: 0 1em;
    border-radius: 20px;
    font-size: 12px;
}

.accordion-arrow {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .accordion-arrow.open {
    transform: rotate(180deg);
  }